.footer {
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__content {
  margin: 0;
  line-height: 1.2;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: #545454;
  max-width: 318px;
}

@media screen and (max-width: 320px) {
}
